<a href="https://colab.research.google.com/github/dhananjay-m-r/Python-basics/blob/main/Python_1_Getting%20Started.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#About this notebook

Notebook made by: Dhananjay M.R

Subject: Computer Science - Grade 11 CBSE

Language: - Python

Topic: Getting Started with Python

Execution mode: Script Mode

#Basics
Fundamentals to get started with Python

In [ ]:
# Program 5-1
# Write a program to show print statement in script mode

print("Save Earth")
print('Preserve Future')

Save Earth
Preserve Future

In [ ]:
# Program 5-2
# Write a program to display values of variables in Python

message = 'Keep Smiling'
print(message)
userNo = 101
print('User Number is', userNo)

Keep Smiling
User Number is 101

In [ ]:
# Program 5-3
# Write a python program to find the area of a rectangle given that its length is 10 units and breadths is 20 units

# To find the area of rectangle
length = 10
breadth = 20
area = length*breadth
print(area)

200

In [ ]:
# Example 5.1 | 5.5 Using comments

# Variable amount is the total spending on grocery
amount = 3400

In [ ]:
# Program 5-4
# Write a python program to find the sum of 2 numbers

# To find the sum of two numbers
num1 = 10
num2 = 20
result = num1 + num2
print(result)

30

# Data Types
Data type identifies the type of data values a variable can hold and the operations that can be performed on that data.

In [ ]:
# Example 5.3 | Data types

num1 = 10
print(type(num1))

num2 = -1210
print(type(num2))

var1 = True
print(type(var1))

float1 = -1921.9
print(type(float1))

var2 = -3+7.2j
print(type(var2))

<class 'int'>
<class 'int'>
<class 'bool'>
<class 'float'>
<class 'complex'>

# Sequence
A Python sequence is an ordered collection of items, where each item is indexed by an integer.

In [ ]:
# Example 5.4 | Lists

# To create a list
list1 = [5, 3.4, 'New Delhi', '20C', 45]

# To print the elements of the list in list1
print(list1)

[5, 3.4, 'New Delhi', '20C', 45]

In [ ]:
# Example 5.5 | Tuple

# Creating a tuple
tuple1 = (10, 20, 'Apple', 3.4, 'a')
# To print the elements of the tuple: tuple1
print(tuple1)

(10, 20, 'Apple', 3.4, 'a')

In [ ]:
# Example 5.6 | Set
# Create a set

set1 = {10,20,3.14,'New Delhi'}
print(type(set1))
print(set1)

# Duplicate elements are not included in the set
set2 = {1,2,1,3}
print(set2)

<class 'set'>
{10, 3.14, 20, 'New Delhi'}
{1, 2, 3}

In [ ]:
# Example 5.7 | None

myvar = None
print(type(myvar))
print(myvar)

<class 'NoneType'>
None

In [ ]:
# Example 5.8 | Dictionary
# Create a dictionary

dict1 = {'Fruit':'Apple', 'Climate': 'Cold', 'Price(kg)':120}

# To print specific details from the dictionary:
print(dict1['Fruit'])
print(dict1['Price(kg)'])
print(dict1['Climate'])

# To print everything on the dictionary
print(dict1)

Apple
120
Cold
{'Fruit': 'Apple', 'Climate': 'Cold', 'Price(kg)': 120}

# Arithmetic Operators
Arithmetic operators that are used to perform the four basic arithmetic operations as well as modular division, floor division and exponentiation.

In [ ]:
# Adittion  +

num1 = 5
num2 = 6
print(num1 + num2)

str1 = 'Hello'
str2 = 'India'
print(str1 + str2)

11
HelloIndia

In [ ]:
# Subtraction  -

num1 = 5
num2 = 6
num1 - num2

-1

In [ ]:
# Multiplication  *

num1 = 5
num2 = 6
print(num1 * num2)

str1 = 'India'
print(str1*2)

30
IndiaIndia

In [ ]:
# Divison   /
num1 = 8
num2 = 4
num2/num1

0.5

In [ ]:
# Modulas   %
num1 = 13
num2 = 5
num1%num2

3

In [ ]:
# Floor Division  //
num1 = 13
num2 = 4
print(num1//num2)
print(num2//num1)

3
0

In [ ]:
# Exponent   **
num1 = 3
num2 = 4
num1**num2

81

# Relational Operators
Relational operator compares the values of the operands on its either side and determines the relationship among them.

In [ ]:
# Relational Operators

# Some Global values for Relational Operators
num1 = 10
num2 = 0
num3 = 10
str1 = 'Good' 
str2 = 'Afternoon'

# Operator 1. == (Equals to)
print('***Results for Operator 1***')
print(num1 == num2)
print(str1 == str2)

print('')

# Operator 2. != (Not Equal to)
print('***Results for Operator 2***')
print(num1 != num2)
print(str1 != str2)
print(num1 != num3)

print('')

# Operator 3. > (Greater than)
print('***Results for Operator 3***')
print(num1 > num2)
print(str1 > str2)

print('')

# Operator 4. < (Less than)
print('***Results for Operator 4***')
print(num1 < num3)
print(str1 < str2)

print('')

# Operator 5. >= (Greater than or equal to)
print('***Results for Operator 5***')
print(num1 >= num2)
print(num2>= num3)
print(str1 >= str2)

print('')

# Operator 6. <= (Less than or equal to)
print('***Results for Operator 6***')
print(num1 <= num2)
print(num2 <= num3)
print(str1 <= str2)

***Results for Operator 1***
False
False

***Results for Operator 2***
True
True
False

***Results for Operator 3***
True
True

***Results for Operator 4***
False
False

***Results for Operator 5***
True
False
True

***Results for Operator 6***
False
True
False

# Assignment Operators
Assignment operator assigns or changes the value of the variable on its left.

In [ ]:
# Operator 1. = 

num1 = 2
num2 = num1

country = 'India'

print(num2)
print(country)

2
India

In [ ]:
# Operator 2. +=

num1 = 10
num2 = 2
num1 += num2
print(num1)
print(num2)

str1 = 'Hello'
str2 = 'India'
str1 += str2
print(str1)

12
2
HelloIndia

Above in the Operator 2: It adds the value of right-side operand to the left-side operand and assigns the result to the left-side operand 

Note: x += y is same as x = x + y

In [ ]:
# Operator 3.   -=

num1 = 10
num2 = 2
num1 -= num2
num1

8

Above in Operator 3: It subtracts the value of right-side operand from the left-side operand and assigns the result to left-side operand 

Note: x -= y is same as x = x - y

In [ ]:
# Operator 4.  *=

num1 = 2
num2 = 3
num1 *= num2
print(num1)

a = 'India'
a *= 3
print(a)

6
IndiaIndiaIndia

Above in Operator 4: It multiplies the value of right-side operand with the value of left-side operand and assigns the result to left-side operand 

Note: x *= y is same as x = x * y

In [ ]:
# Operator 5.   /=
num1 = 6
num2 = 3
num1 /= num2
num1

2.0

Above in Operator 5: It divides the value of left-side operand by the value of right-side operand and assigns the result to left-side operand 

Note: x /= y is same as x = x / y

In [ ]:
# Operator 6.   %=
num1 = 7
num2 = 3
num1 %= num2
num1

1

Above in Operator 6: It performs modulus operation using two operands and assigns the result to left-side operand 

Note: x %= y is same as x = x % y

In [ ]:
# Operator 7.   //=
num1 = 7
num2 = 3
num1 //= num2
num1

2

Above in Operator 7. It performs floor division using two operands and assigns the result to left-side operand 

Note: x //= y is same as x = x // y

In [ ]:
# Operator 8.   **=
num1 = 2
num2 = 3
num1 **= num2
num1

8

Above in Operator 8. It performs exponential (power) calculation on operators and assigns value to the left-side operand 

Note: x **= y is same as x = x ** y

# Logical Operators

In [ ]:
# Operator 1.   and

print(True and True)

num1 = 10
num2 = -20
print(bool(num1 and num2))

print(True and False)

num3 = 0
print(bool(num1 and num3))

print(False and False)

True
True
False
False
False

Above in Operator 1. If both the operands are True, then condition becomes True

In [ ]:
# Operator 2.   or
print(True or True)
print(True or False)
print(False or False)
print(bool(num1 or num3))

True
True
False
True

Above in Operator 2. If any of the two operands are True, then the condition becomes True

In [ ]:
#Operator 3.  not

num1 = 10
print(bool(num1))
not num1

True

False

Above in Operator 3. it is used to reverse the logical state of its operand

# Identity Operators
Identity operators are used to determine whether the value of a variable is of a certain type or not. Identity operators can also be used to determine whether two variables are referring to the same object or not. There are two identity operators.

In [ ]:
# Operator 1.   is
num1 = 5
print(type(num1) is int)

num2 = num1
print(id(num1))
print(id(num2))

print(num1 is num2)

True
11126816
11126816
True

Evaluates True if the variables on either side of the operator point towards the same memory location and False otherwise. var1 is var2 results to True if id(var1) is equal to id(var2)

In [ ]:
# Operator 2.   is not
num1 is not num2

False

Evaluates to False if the variables on either side of the operator point to the same memory location and True otherwise. var1 is not var2 results to True if id(var1) is not equal to id(var2)

# Membership Operators
Membership operators are used to check if a value is a member of the given sequence or not.

In [ ]:
# Operator 1.   in
a = [1,2,3]
print(2 in a)
print('1' in a)

True
False

Returns True if the variable/value is found in the specified sequence and False otherwise

In [ ]:
# Operator 2.   not in
a = [1,2,3]
print(10 not in a)
print(1 not in a)

True
False

# Precedence of Operators

In [ ]:
# Example 5.9
# How will python evaluate the following expression?

20 + 30 * 40

# Soltuion: 
#      Step 1: 20 + (30 * 40)
#      Step 2: 20 + 1200

1220

In [ ]:
Example5_10 = 20 - 30 + 40
Example5_11 = (20 + 30) * 40
Example5_12 = 15.0 / 4 + (8.0 + 3.0)

print(Example5_10)
print(Example5_11)
print(Example5_12)

30
2000
14.75

# Statement

In Python, a statement is a unit of code that the Python interpreter can execute.

In [ ]:
x = 4   #Assignment Statement
cube = x ** 3   #Assignment Statement
print(x, cube)  #Print Statement

# Input and Output

In [ ]:
# Example 5.14

name = input("Enter your first name: ")
age = input("Enter your age: ")
type(age)

Enter your first name: Dhananjay
Enter your age: 16

str

In the above program, the variable name will get the string ‘Arnab’, entered by the user. Similarly, the variable age will get the string ‘19’. We can typecast or change the datatype of the string data accepted from user to an appropriate numeric value. For example, the following statement will convert the accepted string to an integer. If the user enters any non-numeric value, an error will be generated.

In [ ]:
# Example 5.15
# Function int() to convert string to integer

age = int(input("Enter your age: "))
type(age)

Enter your age: 16

int

In the above program, ***int()*** is added to convert string to integer

# Type Conversion

In [ ]:
# Program 5 - 5
# Program of explicit type conversion from int to float

num1 = 10
num2 = 20
num3 = num1 + num2
num4 = float(num1 + num2)

print(num3)
print('num3 belongs to', (type(num3)))

print('')

print(num4)
print('num4 belongs to', (type(num4)))

30
num3 is <class 'int'>

30.0
num4 is <class 'float'>

In [ ]:
# Program 5 - 6
# Program of explicit type conversion from float to int

num1 = 10.2
num2 = 20.6
num3 = (num1 + num2)
num4 = int(num1 + num2)

print(num3)
print('num3 belongs to', (type(num3)))

print('')

print(num4)
print('num4 belongs to', (type(num4)))

30.8
num3 belongs to <class 'float'>

30
num4 belongs to <class 'int'>

In [ ]:
# Program 5 - 7
# Example of type conversion between numbers and strings

priceIceCream = 25
priceBrownie = 45
totalPrice = priceIceCream + priceBrownie
print('The total is Rs. ' + str(totalPrice))

The total is Rs. 70

# Exam mark total score calculator
When the marks of each subject entered into the program, it will calculate your total marks out of 500 and give the overall percentage you have scored for the exam.

Program developer: Dhananjay M.R

In [ ]:
Math = float(input('Enter the marks scored in Math exam: '))
Physics = float(input('Enter the marks scored in Physics exam: '))
Chemistry = float(input('Enter the marks scored in Chemistry Exam: '))
English = float(input('Enter the marks scored in English exam: '))
ComputerScience = float(input('Enter the marks scored in Computer Science exam: '))

Total = Math + Physics + Chemistry + English + ComputerScience
Average = Total/5

print('')
print('Your total score out of 500 is: ', Total)
print('Your have scored', Average, '%' ' in this exam')

Enter the marks scored in Math exam: 100
Enter the marks scored in Physics exam: 100
Enter the marks scored in Chemistry Exam: 100
Enter the marks scored in English exam: 75
Enter the marks scored in Computer Science exam: 75

Your total score out of 500 is:  450.0
Your have scored 90.0 % in this exam

# Simple Interest Calculator

Based on the input value of Principal Amount, Rate of Interest and Time duration, this program calculator calculates the simple interest

Program Developed by: Dhananjay M.R

In [ ]:
Amount=int(input("Enter the amount: "))
Year=int(input("Enter the number of years: "))
Rate=float(input("Enter the rate of interest: "))

SimpleInterset=(Amount*Year*Rate)/100
    
print("The simple interset is: ",SimpleInterset)

Enter the amount: 24000
Enter the number of years: 10
Enter the rate of interest: 3
The simple interset is:  7200.0